@import 'variables';
@import 'utilities/pxtorem';

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--vr-md);
}

.item {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $bp-sm) {
    width: auto;
  }
}
