@import 'variables';
@import 'utilities/pxtorem';

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: pxtorem(15);

  @media (min-width: $bp-sm) {
    margin-bottom: 0;
  }

  &::after {
    content: '';
    margin-top: pxtorem(20);
    width: 60%;
    border-bottom: 1px solid rgba(#000, 0.2);
    box-shadow: 0 1px rgba(#fff, 0.05);

    @media (min-width: $bp-sm) {
      content: none;
    }
  }

  &:last-of-type {
    &::after {
      content: none;
    }
  }
}
