@import 'variables';

.primary {
  color: var(--primary-text-colour);
}

.secondary {
  color: var(--secondary-text-colour);
}

.tertiary {
  color: var(--secondary-text-colour);
}

.hero {
  font-family: var(--font-family-secondary);
  color: var(--secondary-text-colour);
  opacity: 0;
}

.shadow {
  text-shadow: 1px 3px var(--primary-text-colour);

  @media (min-width: $bp-md) {
    text-shadow: 1px 2px var(--tertiary-text-colour);
  }
}

.shadowlg {
  text-shadow: 1px 4px var(--primary-text-colour);

  @media (min-width: $bp-md) {
    text-shadow: 1px 4px var(--tertiary-text-colour);
  }
}
