.primary {
  color: var(--primary-text-colour);
}

.secondary {
  color: var(--secondary-text-colour);
  text-shadow: -1px -1px var(--colour-1-alt-2);
}

.tertiary {
  color: var(--secondary-text-colour);
  text-shadow: -1px -1px var(--colour-2-alt-1);
}
