@import 'variables';
@import 'utilities/breakpoints';

.hi {
	color: $secondary-text-colour;
	font-size: 80px;
	font-weight: 900;
	letter-spacing: 5px;
	line-height: 1;
	height: 0;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 3px 3px darken($primary-colour, 10%);
	opacity: 0;

	animation: hi 3s ease-in-out;
	animation-delay: 1s;
	animation-fill-mode: forwards;

	@include media-breakpoint-up(md){
		text-shadow: 2px 2px $tertiary-text-colour;
		font-size: 100px;
	}
}

@keyframes hi {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	35%, 65% {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		transform: translateY(10px);
	}
}