//------------------------------------------
// Generic variables.
//------------------------------------------

$font-family-primary: 'Raleway', sans-serif;
$font-family-secondary: 'Raleway', serif;
$font-family-heading: 'Raleway', serif;

// Theme colours.
$colour-primary: #4ab571;
$colour-secondary: #2e3037;
$colour-tertiary: #fff;