//------------------------------------------
// Generic variables.
//------------------------------------------

$font-family-primary: 'Source Sans Pro', sans-serif;
$font-family-secondary: 'Source Sans Pro', serif;
$font-family-heading: 'Source Sans Pro', serif;

// Theme colours.
$colour-primary: #4ab571;
$colour-secondary: #2e3037;