@import 'variables';
@import 'utilities/pxtorem';

.name {
  color: $secondary-text-colour;
  margin: var(--vr) 0;
  padding: 0 var(--vr-md);
  font-size: pxtorem(45);
  font-weight: 900;
  letter-spacing: pxtorem(5);
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 3px 3px darken($primary-colour, 10%);
  opacity: 0;
  animation: title 1s ease-in-out;
  animation-delay: $animation-name-delay;
  animation-fill-mode: forwards;

  @media (min-width: $bp-md) {
    text-shadow: 2px 2px $tertiary-text-colour;
    font-size: pxtorem(70);
  }
}

@keyframes title {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
