.learn-more {
	display: none;
	position: fixed;
	bottom: 90px;
	left: 0;
	right: 0;
	text-align: center;

	// Animate.
	animation-duration: 1.5s;
    animation-name: floating;
	animation-iteration-count: infinite;
	
	@include media-breakpoint-up(lg){
		display: block;
	}


	&__scroll {
		font-size: 40px;
		opacity: .7;
	}

	&__link {
		color: $link-colour;

		&:hover {
			color: $link-colour;
		}
	}
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}