.learn-more {
	position: fixed;
	bottom: 90px;
	left: 0;
	right: 0;
	text-align: center;

	// Animate.
	animation-duration: 1.5s;
    animation-name: floating;
    animation-iteration-count: infinite;


	&__scroll {
		font-size: 40px;
		//text-shadow: 1px 1px darken($primary-colour, 10%);
		opacity: .7;
	}

	&__link {
		color: $link-colour;

		&:hover {
			color: $link-colour;
		}
	}
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}