.skills {
	margin-bottom: 30px;
	display: grid;
	grid-gap: 16px;

	@include media-breakpoint-up(sm){
		grid-template-columns: repeat(2, 1fr);
	}

	@include media-breakpoint-up(md){
		grid-template-columns: repeat(3, 1fr);
	}
	
	@include media-breakpoint-up(lg){
		grid-template-columns: repeat(6, 1fr);
	}

	&--single {
		grid-column-end: -1;
		grid-column-start: 1;
	}

	&__icon {
		font-size: 65px;
		text-shadow: -1px -1px darken($primary-colour, 10%);
	}

	&__list {
		list-style-type: none;
		margin-top: 10px;
		font-size: 20px;
		text-shadow: -1px -1px darken($primary-colour, 10%);

		@include media-breakpoint-up(sm){
			margin-top: 20px;
			font-size: 18px;
		}
	}

	&__item {
		margin-bottom: 5px;
	}
}