@import 'variables';
@import 'utilities/pxtorem';

.btn {
  color: #fff;
  padding: var(--vr-xs);
  border-radius: 7px;
  border: 1px solid #fff;
  transition: all 0.3s;
  font-size: pxtorem(14);

  &:hover {
    background: var(--colour-1-alt-1);
  }

  & + & {
    margin-left: var(--vr);
  }
}
