.navigation {
	@include media-breakpoint-up(lg){
		width: 100%;
		height: 60px;
		text-align: center;
		position: absolute;
		margin: 0 auto;
		top: auto !important;
		bottom: 0 !important;
		font-size: 20px;
		z-index: 999999;
		background-color: rgba($nav-bg-colour, 0.7);
		transform: translatez(0);
	}

	&__menu {
		display: none;
		text-align: center;
		list-style: none;
		margin: 0 auto;

		@include media-breakpoint-up(md){
			// margin: 0 auto;
			padding: 0;
			display: inline-block !important;
		}
	}

	&__menu-item {
		width: 100%;

		@include media-breakpoint-up(md){
			line-height: 60px;
			display: inline-block;
			float: left;
			text-transform: uppercase;
		}
		

		@include media-breakpoint-up(lg){
			width: auto;
		}
	}

	&__menu-link {
		color: $link-colour;
		padding: 5px;
		display: block;
		font-size: 30px;
		letter-spacing: 2px;

		@include media-breakpoint-up(sm){
			padding: 1px;
		}

		@include media-breakpoint-up(lg){
			font-size: 18px;
			padding: 0 18px;

			&:hover, &.active {
				background-color: darken($primary-colour, 10%);
				box-shadow: inset 1px 0 darken($primary-colour, 11%), inset -1px 0 darken($primary-colour, 11%);
			}
		}
	}

	&__active {
		@include media-breakpoint-down(md){
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 999999;
			background-color: rgba($nav-bg-colour, 0.8);
		}
	}

	&__menu-active {
		@include media-breakpoint-down(md){
			display: block;
			position: fixed;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -100px);
		}

		// @include media-breakpoint-up(md){
		// 	transform: translate(-50%, -100px)
		// }
	}

	&__menu-is-sticky {
		@include media-breakpoint-up(md){
			position: fixed;
			top: 0 !important;
			box-shadow: inset 0 -1px darken($primary-colour, 10%), 0 1px 1px rgba(0,0,0,0.2);
			background-color: rgba($primary-colour, 0.95);
		}
	}

	&__menu-is-sticky &__menu-link {
		@include media-breakpoint-up(md){
			text-shadow: -1px -1px darken($primary-colour, 10%);
		}
	}
}