.testimonials {
  &__quote {
    &:before, &:after {
      font-family: FontAwesome;
      font-size: 30px;
      line-height: 30px;
    }

    &:before {
      content: "\f10d";
    }

    &:after {
      content: "\f10e";
    }
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 14px;
  }
}