@import 'variables';
@import 'utilities/pxtorem';

.location {
  font-size: pxtorem(16);
  opacity: 0;
  color: $secondary-text-colour;
  font-weight: 300;
  letter-spacing: pxtorem(1);
  line-height: 1.5;
  text-transform: uppercase;
  text-shadow: 1px 1px darken($primary-colour, 10%);
  animation: location 0.5s ease-in-out;
  animation-delay: $animation-location-delay;
  animation-fill-mode: forwards;

  @media (min-width: $bp-md) {
    font-size: pxtorem(18);
    text-shadow: 2px 2px $tertiary-text-colour;
  }
}

@keyframes location {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
