@import 'variables';

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $bp-sm) {
    max-width: 540px;
  }

  @media (min-width: $bp-md) {
    max-width: 720px;
  }

  @media (min-width: $bp-lg) {
    max-width: 960px;
  }

  @media (min-width: $bp-xl) {
    max-width: 1140px;
  }
}

.medium {
  width: 85%;
  max-width: 85%;
}

.large {
  width: 100%;
  max-width: 100%;
}

.bgPrimary {
  composes: primary from '~scss/helpers/_backgrounds.scss';
}

.bgSecondary {
  composes: secondary from '~scss/helpers/_backgrounds.scss';
}

.bgTertiary {
  composes: tertiary from '~scss/helpers/_backgrounds.scss';
}
