@import 'variables';
@import 'utilities/pxtorem';

.section {
  padding-top: pxtorem(80);
  padding-bottom: pxtorem(80);
}

.container {
  width: 100%;
  padding-left: pxtorem(20);
  padding-right: pxtorem(20);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $bp-sm) {
    max-width: 540px;
  }

  @media (min-width: $bp-md) {
    max-width: 720px;
  }

  @media (min-width: $bp-lg) {
    max-width: 960px;
  }

  @media (min-width: $bp-xl) {
    max-width: 1140px;
  }

  &Medium {
    width: 85%;
    max-width: 85%;
  }

  &Large {
    width: 100%;
    max-width: 100%;
  }
}

.bgPrimary {
  composes: primary from '~scss/helpers/backgrounds.scss';
}

.bgSecondary {
  composes: secondary from '~scss/helpers/backgrounds.scss';
}

.bgTertiary {
  composes: tertiary from '~scss/helpers/backgrounds.scss';
}
