@import 'utilities/pxtorem';

:root {
  --icon-background: hsl(240, 3%, 89%);
  --icon-colour-primary: hsl(3, 100%, 67%);
  --icon-colour-primary-shadow: hsl(3, 100%, 42%);
  --icon-colour-secondary: hsl(41, 100%, 59%);
  --icon-colour-secondary-shadow: hsl(41, 100%, 34%);
  --icon-colour-tertiary: hsl(130, 67%, 47%);
  --icon-colour-tertiary-shadow: hsl(130, 67%, 22%);
}

.portfolioIcons {
  display: flex;
  padding: var(--vr-xs);
  background: var(--icon-background);
}

.icon {
  width: pxtorem(10);
  height: pxtorem(10);
  border-radius: 50%;
  margin-right: var(--vr-xs);

  &:first-of-type {
    background: var(--icon-colour-primary);
    box-shadow: inset 0 0 1px var(--icon-colour-primary-shadow);
  }

  &:nth-of-type(2) {
    background: var(--icon-colour-secondary);
    box-shadow: inset 0 0 1px var(--icon-colour-secondary-shadow);
  }

  &:last-of-type {
    background: var(--icon-colour-tertiary);
    box-shadow: inset 0 0 1px var(--icon-colour-tertiary-shadow);
  }
}
