html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: $font-family-primary;
    font-size: 16px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-heading;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    //color: $colour-06;
    font-size: 32px;
    line-height: 38px;

    @include breakpoint(sm){
        font-size: 36px;
        line-height: 48px;
    }
    
}

h2 {
    font-size: 30px;
    line-height: 34px;
    //color: $colour-06;
    margin-bottom: 20px;

    @include breakpoint(sm){
        font-size: 32px;
        line-height: 36px;
    }
}

h3 {
    font-size: 24px;
    line-height: 28px;
    //color: $colour-01;

    @include breakpoint(sm){
        font-size: 28px;
        line-height: 32px;
    }
}

h4 {
    font-size: 22px;
    line-height: 24px;
    //color: $colour-06;

    @include breakpoint(sm){
        font-size: 24px;
        line-height: 28px;
    }
}

h5 {
    font-size: 18px;
    line-height: 22px;
    //color: $colour-06;

    @include breakpoint(sm){
        font-size: 20px;
        line-height: 24px;
    }
}

h6 {
    font-size: 16px;
    line-height: 20px;
    //color: $colour-01;

    @include breakpoint(sm){
        font-size: 17px;
        line-height: 21px;
    }
}

p {
    font-family: $font-family-primary;
    //color: $colour-13;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;

    + ul {
        margin-top: -8px;
    }
}

a {
    //color: $colour-08;
    @include transition(color, 0.3s);

    &:hover, &:focus {
        text-decoration: none;
        //color: $colour-06;
    }
}

/*strong {
    color: $colour-12;
}

hr {
    border-color: $hr-colour;
}*/

ul {
    padding: 0;
}