html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: $font-family-primary;
    font-size: 16px;
    height: 100%;

    &.no-scroll {
        @include breakpoint(xs){
            overflow:hidden;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 32px;
    line-height: 38px;

    @include breakpoint(sm){
        font-size: 40px;
        line-height: 48px;
    }
    
}

h2 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 50px;

    @include breakpoint(sm){
        font-size: 32px;
        line-height: 36px;
    }

    + p {
        margin-top: -30px;
        margin-bottom: 50px;
    }
}

h3 {
    font-size: 24px;
    line-height: 28px;

    @include breakpoint(sm){
        font-size: 28px;
        line-height: 32px;
    }
}

h4 {
    font-size: 22px;
    line-height: 24px;

    @include breakpoint(sm){
        font-size: 24px;
        line-height: 28px;
    }
}

h5 {
    font-size: 18px;
    line-height: 22px;

    @include breakpoint(sm){
        font-size: 20px;
        line-height: 24px;
    }
}

h6 {
    font-size: 16px;
    line-height: 20px;

    @include breakpoint(sm){
        font-size: 17px;
        line-height: 21px;
    }
}

p {
    font-family: $font-family-primary;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
}

a {
    color: $link-colour;
    @include transition(color, 0.3s);
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: none;
        color: $link-colour;
        outline: none;
    }
}

ul {
    padding: 0;
}