// Media queries.
@mixin breakpoint($width) {  
  @if $width == lg { // Large desktop.
    @media(min-width:$screen-lg-min) { @content; }
  }
  @else if $width == md { // Medium desktop & up.
    @media(min-width:$screen-md-min) { @content; }
  }  
  @else if $width == md-contain { // Only target medium desktop.
    @media(min-width:$screen-md-min) and (max-width: $screen-lg-min) { @content; }
  }
   @else if $width == md-max { // Medium desktop & down.
    @media(max-width:$screen-lg-min) { @content; }
  }
  @else if $width == sm { // Tablet & up.
    @media(min-width:$screen-sm-min) { @content; }
  }
  @else if $width == sm-contain { // Only target tablets.
    @media(min-width:$screen-sm-min) and (max-width: $screen-md-min) { @content; }
  }
  @else if $width == sm-max { // Tablets & down.
    @media(max-width:$screen-md-min) { @content; }
  }
  @else if $width == xs { // Only target mobile.
    @media(max-width:$screen-xs-max) { @content; }
  }
  @else {
    @media($width) { @content; }
  }
}

// Placeholder
@mixin placeholder($colour) {
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: $colour !important;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $colour !important;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $colour !important;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $colour !important;
    }
}

// Buttons
@mixin button($bg-col, $col, $bdr-col){
  background-color: $bg-col;
  color: $col;
  border-color: $bdr-col;
}

@mixin button-hover($bg-col, $col, $bdr-col){
  // Touch devices.
  .touch & {
    &.touched, &.active {
      background-color: $bg-col;
      color: $col;
      border-color: $bdr-col;
    }
  }
  
  // Only hover for non-touch devices.
  .no-touch & {
    &:hover, &.active  {
      background-color: $bg-col;
      color: $col;
      border-color: $bdr-col;
    }
  }
}