.stuff-to-show {
  //position: relative;
  //height: 100px;
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
  bottom: 0;
}
.stuff-to-show.ng-hide {
  bottom: -100px !important;
}
.stuff-to-show.ng-hide-add,
.stuff-to-show.ng-hide-remove {
  display: block!important;
}


