@import 'variables';
@import 'utilities/pxtorem';

.hamburger {
  position: fixed;
  text-indent: -9999px;
  border: 0;
  transition: background 0.3s;
  z-index: 999999;
  left: 50%;
  transform: translate(-50%, -35%);
  width: pxtorem(60);
  height: pxtorem(60);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(darken($primary-colour, 30%), 0.5);
  background-color: var(--primary-colour);
  bottom: 0;

  @media (min-width: $bp-lg) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &Active {
    background-color: var(--tertiary-colour);
  }
}

.menu {
  display: block;
  position: absolute;
  left: pxtorem(18);
  right: pxtorem(18);
  height: pxtorem(3);
  background-color: var(--secondary-text-colour);
  transition: background 0 0.3s;
  box-shadow: -1px -1px darken($primary-colour, 5%);

  &::after,
  &::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: pxtorem(3);
    background-color: var(--secondary-text-colour);
    content: '';
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0;
    box-shadow: -1px -1px darken($primary-colour, 5%);
  }

  &::before {
    top: pxtorem(-10);
    transition-property: top, transform;
  }

  &::after {
    bottom: pxtorem(-10);
    transition-property: bottom, transform;
  }

  &Active {
    background: none;
    box-shadow: none;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }

    &::before,
    &::after {
      transition-delay: 0, 0.3s;
      box-shadow: none;
    }
  }
}
