.bg-primary {
	background-color: $colour-primary;
}

.bg-secondary {
	background-color: $colour-secondary;
}

.bg-tertiary {
	background-color: $colour-tertiary;	
}

/*.linez {
  	position: relative;

	&:before, &:after {
		background: none repeat scroll 0 0 #FFFFFF;
		content: "";
		height: 1px;
		//left: 0;
		position: absolute;
		top: 10px;
		width: 20%;
	}

	&:before {
		left: 0;
		margin-left: -20px;
	}

	&:after {
		right: 0;
		margin-right: -20px;
	}
}*/