.link {
	color: $primary-colour;
	transition: border-color .3s;
	border-bottom: 1px solid transparent;

	&:hover {
		color: darken($primary-colour, 10%);
		border-color: darken($primary-colour, 10%);
	}
}