.link {
	//color: $primary-colour;
	color: inherit;
	transition: border-color .3s;
	border-bottom: 1px solid inherit;

	&:hover {
		//color: darken($primary-colour, 10%);
		color: inherit;
		border-color: darken($primary-colour, 10%);
	}
}