@import 'variables';
@import 'utilities/pxtorem';

.skills {
  margin-bottom: 30px;
  display: grid;
  grid-gap: 16px;
  color: $secondary-text-colour;
  text-align: center;

  @media (min-width: $bp-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $bp-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  }

  &--single {
    display: block;
  }

  &__icon {
    font-size: pxtorem(65);
    text-shadow: -1px -1px darken($primary-colour, 10%);
  }

  &__list {
    list-style-type: none;
    font-size: pxtorem(20);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);

    @media (min-width: $bp-sm) {
      font-size: pxtorem(18);
    }
  }

  &__item {
    margin-bottom: 5px;
  }
}
