@import 'variables';
@import 'utilities/pxtorem';

.label {
  color: var(--colour-5);
  padding: var(--vr-xxs);
  border-radius: 3px;
  font-size: pxtorem(12);
  margin-bottom: var(--vr-xxs);
}

.primary {
  background: var(--colour-1);
}

.secondary {
  background: var(--colour-3);
}
