<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Front-end / AngularJS Developer | Melbourne | Tim Mansell</title>

	<link href='http://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>

	<!-- build:css assets/css/main.min.css -->
	<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" media="screen">
	<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css"/>
	<link rel="stylesheet" href="assets/css/main.css" media="screen">
	<!-- endbuild -->

	<!-- build:js assets/js/html5shiv.min.js -->
	<!--[if lt IE 9]>
    	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->
	<!-- endbuild -->
</head>

<body ng-app="TM" ng-class="{true:'no-scroll', false:''}[menu.open]">
	<nav id="nav" class="navigation" ng-class="{true:'navigation-active', false:''}[menu.open]" tm-navigation>
		<ul class="navigation-menu" ng-class="{true:'navigation-menu-active', false:''}[menu.open]">
			<li class="navigation-menu-item">
				<a class="navigation-menu-link" ng-click="menu.open=!menu.open" href="#profile" du-smooth-scroll du-scrollspy>Profile</a></li>
			<li class="navigation-menu-item">
				<a class="navigation-menu-link" ng-click="menu.open=!menu.open" href="#skills" du-smooth-scroll du-scrollspy>Skills</a></li>
			<li class="navigation-menu-item">
				<a class="navigation-menu-link" ng-click="menu.open=!menu.open" href="#portfolio" du-smooth-scroll du-scrollspy>Portfolio</a></li>
			<li class="navigation-menu-item">
				<a class="navigation-menu-link" ng-click="menu.open=!menu.open" href="#testimonials" du-smooth-scroll du-scrollspy>Testimonials</a></li>
			<li class="navigation-menu-item">
				<a class="navigation-menu-link" ng-click="menu.open=!menu.open" href="#contact" du-smooth-scroll du-scrollspy>Contact</a></li>
		</ul>

		<button class="hamburger visible-xs" ng-class="{true:'hamburger-active', false:''}[menu.open]" ng-click="menu.open=!menu.open">
			<span class="hamburger-menu">toggle menu</span>
		</button>
	</nav>

	<section id="intro" class="hero bg-primary">
		<div class="hero-img" tm-scroll-blur blur-from="3"></div>		

		<div class="info" tm-center-content element=".js-info-content">
			<div class="js-info-content info-content" tm-scroll-fade>
				<h4 class="info-text info-sub-title">Melbourne, Australia</h4>
				<h1 class="info-title">Hi! I'm Tim Mansell</h1>
				<div class="info-blurb" tm-shuffle-content>
					<h4 class="info-blurb-item info-text">Front-end ninja</h4>
					<h4 class="info-blurb-item info-text">Avid Snowboarder</h4>
					<h4 class="info-blurb-item info-text">Hard worker</h4>
				</div>
			</div>
		</div>

		<div class="learn-more hidden-xs">
			<a class="learn-more-link" href="#profile" du-smooth-scroll>
				<i class="learn-more-scroll fa fa-angle-down"></i>
			</a>
		</div>

	</section>

	<main class="content">
		<section id="profile" class="layout-section bg-tertiary scrollto">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center" tm-shuffle-on-screen>A little bit about myself</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 text-center">
						<p>I am an experienced and ambitious Front-end Developer with over 7 years commercial experience in a digital agency environment. I excell in both front-end and back-end development.</p>

						<p>I develop with best practices in mind and adhere to W3C standards. Unfortunately not all browsers are created equal, so I utilise Progressive Enhancement where possible, to ensure that any website I work on displays perfectly in all of the evergreen browsers (Chrome, Firefox, and Safari).... and IE.</p>

						<p>I believe that having a functional website is only part of the solution. Being found is just as important. Search Engine Optimisation is an integral part of my development process.</p>

						<p>Please view my <a class="link" href="#portfolio" du-smooth-scroll>portfolio</a> to see some examples of my work.</p>
					</div>
				</div>

				<tm-social-icons></tm-social-icons>
			</div>
		</section>

		<section id="skills" class="layout-section bg-primary text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center" tm-shuffle-on-screen>Skills</h2>
						<p class="text-description">I spend most of my time specialising in these skillsets</p>
					</div>
				</div>

				<div class="row skills">
					<div class="col-md-6">
						<div class="row">
							<div class="col-xs-12 col-sm-4 text-center divider">
								<i class="fa fa-html5 skills-icon"></i>
								<ul class="skills-list">
									<li>Semantic HTML5</li>
									<li>JavaScript</li>
									<li>SEO</li>
									<li>Accessibility</li>
									<li>PHP</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-4 text-center divider">
								<i class="fa fa-css3 skills-icon"></i>
								<ul class="skills-list">
									<li>CSS3</li>
									<li>SCSS / LESS</li>
									<li>Compass</li>
									<li>Auto-prefixer</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-4 text-center divider">
								<i class="fa fa-mobile skills-icon"></i>
								<ul class="skills-list">
									<li>Responsive</li>
									<li>Mobile First</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="row">
							<div class="col-xs-12 col-sm-4 text-center divider">
								<i class="fa fa-code skills-icon"></i>
								<ul class="skills-list">
									<li>jQuery</li>
									<li>AngularJS</li>
									<li>Backbone</li>
									<li>Bootstrap</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-4 text-center divider">
								<i class="fa fa-terminal skills-icon"></i>
								<ul class="skills-list">
									<li>Node</li>
									<li>Gulp</li>
									<li>Bower</li>
									<li>Git / SVN</li>
								</ul>
							</div>

							<div class="col-xs-12 col-sm-4 text-center divider">
								<i class="fa fa-paper-plane skills-icon"></i>
								<ul class="skills-list">
									<li>Agile</li>
									<li>Scrum</li>
									<li>Kanban</li>
								</ul>
							</div>
						</div>
					</div>
				</div>					

				<p class="text-description">I am currently playing around with</p>
				<i class="fa fa-gamepad skills-icon"></i>
				<ul class="skills-list">
					<li>ReactJS</li>
					<li>Web Components</li>
				</ul>
			</div>
		</section>

		<section id="portfolio" class="layout-section bg-secondary">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12">
						<h2 tm-shuffle-on-screen>Portfolio</h2>
						<p class="text-description">Here's a sample of my lastest work</p>
					</div>
				</div>

				<div class="row" tm-portfolio></div>
			</div>
		</section>

		<section class="layout-section bg-primary">
			<div class="container">
				<div class="row text-center lighter-note">
					<div class="col-xs-12 col-sm-3 divider">
						<i class="fa fa-code lighter-note-icon"></i>
						<p class="lighter-note-amount">
							<tm-random-numbers-on-screen append-character="+" min-count="3000" max-count="50000">0</tm-random-numbers-on-screen>
						</p>
						<p class="lighter-note-text">lines of code</p>
					</div>
					<div class="col-xs-12 col-sm-3 divider">
						<i class="lighter-note-icon fa fa-code-fork"></i>
						<p class="lighter-note-amount">
							<tm-random-numbers-on-screen max-count="1200" append-character="+">0</tm-random-numbers-on-screen>
						</p>
						<p class="lighter-note-text">git commits</p>
					</div>
					<div class="col-xs-12 col-sm-3 divider">
						<i class="lighter-note-icon fa fa-coffee"></i>	
						<p class="lighter-note-amount">
							<tm-random-numbers-on-screen max-count="760" append-character="+">0</tm-random-numbers-on-screen>
						</p>
						<p class="lighter-note-text">coffees consumed</p>
					</div>
					<div class="col-xs-12 col-sm-3 divider">
						<i class="lighter-note-icon fa fa-bicycle"></i>
						<p class="lighter-note-amount">
							<tm-random-numbers-on-screen max-count="3500" append-character="+">0</tm-random-numbers-on-screen>
						</p>
						<p class="lighter-note-text">kilometers cycled</p>
					</div>
				</div>
			</div>
		</section>

		<section id="testimonials" class="layout-section bg-tertiary">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
						<tm-carousel class="testimonials" autoplay="true" speed="6000">
							<div class="testimonials-quote">
								<p class="testimonials-text">I dealt with Tim on the implementation of my company's website while he was at The Graphic Cafe. Tim's sage advice and IT skills proved to be invaluable, especially to a cyber-illiterate like me.</p>
								<p class="testimonials-name">Rusty Brooke</p>
							</div>
							<div class="testimonials-quote">
								<p class="testimonials-text">Tim worked with the Graphic Cafe for over 4 years, in that time Tim lead the web development side to the business, his ability to problem solve was second to none as we often tested the boundaries of web and interactive development.</p>
								<p class="testimonials-name">Matt O’Dea</p>
							</div>
							<div class="testimonials-quote">
								<p class="testimonials-text">Tim is really brilliant developer and he has wide knowledge in the IT industry.</p>
								<p class="testimonials-name">Randy An</p>
							</div>
						</tm-carousel>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer id="contact" class="footer bg-secondary scrollto">
	
		<!-- <section  class="layout-section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center" tm-shuffle-on-screen>Let's get in touch</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
						<div id="form-message"></div>
						<form id="form-contact" name="formContact" novalidate>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label class="sr-only" for="name">What's your name?</label>
									<input class="form-control" ng-model="form.name" type="text" name="name" id="name" value="" placeholder="What's your name?" required>
									<span class="error" ng-show="formContact.name.$error.required">Error</span>
								</div>

								<div class="form-group">
									<label class="sr-only" for="name">What's your e-mail?</label>
									<input class="form-control" ng-model="form.email" type="email" name="email" id="email" value="" placeholder="What's your email?" required>
									<span class="error" ng-show="formContact.email.$error.required">Error</span>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label class="sr-only" for="name">What do you have in mind?</label>
									<textarea class="form-control" ng-model="form.message" name="message" id="message" rows="4" placeholder="Your message?" required></textarea>
									<span class="error" ng-show="formContact.message.$error.required">Error</span>
								</div>
							</div>
							<div class="col-xs-12">
								<button type="submit" class="btn btn-primary" id="submit-contact">Send!</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section> -->

		<div class="footer-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<tm-social-icons></tm-social-icons>
						<p class="footer-bar-text text-center">&copy; Copyright&nbsp;<tm-date></tm-date><br>Tim Mansell</p>
					</div>
				</div>
			</div>
		</div>
	</footer>	

	<!-- build:js assets/js/scripts.min.js -->
	<script src="assets/js/modernizr-custom.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/slick-carousel/slick/slick.min.js"></script>
	<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
	<script src="bower_components/blazy/blazy.min.js"></script>
	<script src="assets/js/lib/jquery.shuffleLetters.js"></script>
	<script src="assets/js/ng/app.js"></script>
	<script src="assets/js/ng/directives/carousel.js"></script>
	<script src="assets/js/ng/directives/centerContent.js"></script>
	<script src="assets/js/ng/directives/lazyLoad.js"></script>
	<script src="assets/js/ng/directives/scrollFade.js"></script>
	<script src="assets/js/ng/directives/scrollBlur.js"></script>
	<script src="assets/js/ng/directives/shuffleContent.js"></script>
	<script src="assets/js/ng/directives/nav.js"></script>
	<script src="assets/js/ng/directives/date.js"></script>
	<script src="assets/js/ng/directives/shuffleOnScreen.js"></script>
	<script src="assets/js/ng/directives/randomNumbersOnScreen.js"></script>
	<script src="assets/js/ng/directives/portfolio.js"></script>
	<script src="assets/js/ng/directives/socialIcons.js"></script>
	<script src="assets/js/ng/services/portfolio.js"></script>
	<!-- endbuild -->	

	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='https://www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-32933519-1','auto');ga('send','pageview');
	</script>
</body>
</html>