<div class="row">
	<div class="col-12 col-sm-6 col-lg-4" ng-repeat="item in $ctrl.items">
		<div class="portfolio-item">
			<img class="portfolio-item__img img--responsive b-lazy" tm-lazy-load img="{{item.thumb}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{item.title}}">
			<div class="portfolio-item__info text--center">
				<h3 class="portfolio-item__title" ng-bind="item.title"></h3>
				<p class="portfolio-item__description hidden-sm-up" ng-bind="item.description"></p>
				<p class="portfolio-item__description portfolio-item__tech" ng-bind="item.tech"></p>

				<div class="portfolio-item__more-info">
					<!-- <a ng-href="{{item.src}}" title="View more info">
						<i class="fa fa-search portfolio-item__icon"></i>
					</a> -->
					<a ng-href="{{item.url}}" target="_blank" title="Visit website">
						<i class="fa fa-globe portfolio-item__icon"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>