.btn {
	padding: 10px 40px;
	font-size: 20px;

	&-primary {
		background: $primary-colour;
		border-color: $primary-colour;
	}

	&-primary:hover {
		background: darken($primary-colour, 15%);
		border-color: darken($primary-colour, 15%);
	}
}