.btn {
	padding: 10px 40px;
	font-size: 20px;

	&-primary {
		background: $colour-primary;
		border-color: $colour-primary;
	}

	&-primary:hover {
		background: darken($colour-primary, 15%);
		border-color: darken($colour-primary, 15%);
	}
}