.hamburger {
	position: fixed;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	border: none;
	transition: background 0.3s;
	z-index: 999999;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	background-color: $colour-primary;
	bottom: 0;

	&:focus {
		outline: none;
	}

	&.active {
		background-color: #cb0032;

		span {
			background: none;

			&:before {
				top: 0;
				transform: rotate(45deg);
			}

			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}

			&:before,
			&:after {
				transition-delay: 0, 0.3s;
			}
		}
	}

	span {
		display: block;
		position: absolute;
		top: 30px;
		left: 18px;
		right: 18px;
		height: 3px;
		background: #fff;
		transition: background 0 0.3s;

		&:after, &:before {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #fff;
			content: "";
			transition-duration: 0.3s, 0.3s;
			transition-delay: 0.3s, 0;
		}

		&:before {
			top: -10px;
			transition-property: top, transform;
		}

		&:after {
			bottom: -10px;
			transition-property: bottom, transform;
		}
	}
}