.info {
	display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
	height: 100%;
	text-align: center;

	&__blurb-item {
		//display: none;
		font-size: 22px;

		//&:first-of-type {
			display: block;
		//}

		@include media-breakpoint-up(md){
			font-size: 26px;
		}
	}

	&__title {
		color: $secondary-text-colour;
		margin: 15px 0;
		padding: 0 25px;
		font-size: 45px;
		font-weight: 900;
		letter-spacing: 5px;
		line-height: 45px;
		text-transform: uppercase;
		text-shadow: 3px 3px darken($primary-colour, 10%);

		@include media-breakpoint-up(md){
			text-shadow: 2px 2px $info-text-shadow-colour;
			font-size: 55px;
			line-height: 55px;
		}
	}

	&__sub-title {
		color: $secondary-text-colour;
		font-size: 16px;

		@include media-breakpoint-up(md){
			font-size: 18px;
		}
	}

	&__text {
		color: $secondary-text-colour;
		margin: 0;
		padding: 0;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 26px;
		text-transform: uppercase;
		text-shadow: 1px 1px darken($primary-colour, 10%);

		@include media-breakpoint-up(md){
			text-shadow: 2px 2px $info-text-shadow-colour;
		}
	}
}