.social {
	margin-top: 40px;

	&-icon {
		font-size: 30px;
		display: inline-block;
		background: $primary-colour;
		padding: 15px;
		border-radius: 50%;
		color: $icon-colour;
		text-shadow: -1px -1px darken($primary-colour, 10%);
		width: 60px;
		height: 60px;
		margin: 0 15px;
		transition: box-shadow .3s, background .3s;

		&:hover {
			background: darken($primary-colour, 10%);
			box-shadow: 0 0 0 5px rgba($primary-colour, 0.5);
		}
	}
}