@import 'variables';
@import 'utilities/pxtorem';

.icon {
  font-size: pxtorem(80);
  text-shadow: -1px -1px darken($primary-colour, 10%);
  color: $secondary-text-colour;

  &Md {
    font-size: pxtorem(65);
  }

  &Sm {
    font-size: pxtorem(48);
  }

  &Xs {
    font-size: pxtorem(30);
  }

  &Padded {
    margin-bottom: pxtorem(20);
  }
}
