@import 'variables';
@import 'utilities/pxtorem';

.navigation {
  @media (min-width: $bp-lg) {
    width: 100%;
    height: pxtorem(60);
    position: absolute;
    bottom: 0 !important;
    background-color: rgba(#000, 0.7);
    z-index: 999999;
  }

  &Active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background-color: rgba(#000, 0.8);

    @media (min-width: $bp-lg) {
      position: relative;
    }
  }

  &Sticky {
    @media (min-width: $bp-lg) {
      position: fixed;
      top: 0 !important;
      box-shadow: inset 0 -1px var(--colour-1-alt-2), 0 1px 1px rgba(#000, 0.2);
      background-color: var(--colour-1-transparent);
    }
  }
}

.menu {
  display: none;
  text-align: center;
  list-style: none;
  margin: 0;

  @media (min-width: $bp-lg) {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  &Active {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100px);
    padding-left: var(--vr);
    padding-right: var(--vr);

    @media (min-width: $bp-lg) {
      display: none;
    }
  }
}

.item {
  display: flex;
  justify-content: center;

  @media (min-width: $bp-md) {
    text-transform: uppercase;
  }
}

.link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-colour);
  padding: var(--vr-xs);
  font-size: pxtorem(30);
  letter-spacing: pxtorem(2);

  @media (min-width: $bp-lg) {
    font-size: pxtorem(16);
    padding: 0 var(--vr-xs);
  }

  @media (min-width: $bp-xl) {
    font-size: pxtorem(18);
    padding: 0 var(--vr);
  }

  &Active,
  &:hover {
    @media (min-width: $bp-lg) {
      background-color: var(--colour-1-alt-2);
      box-shadow: inset 1px 0 var(--colour-1-alt-2), inset -1px 0 var(--colour-1-alt-2);
    }
  }

  &Sticky {
    @media (min-width: $bp-lg) {
      text-shadow: -1px -1px var(--colour-1-alt-2);
    }
  }
}
