@import 'variables';
@import 'utilities/pxtorem';

.item {
  composes: divider from '~scss/helpers/divider.scss';
  flex-direction: row;
  gap: var(--vr);
  align-items: end;
}

.title {
  margin-bottom: var(--vr-md);
  font-size: pxtorem(26);
}

.content {
  flex: 1;
}

.icon {
  display: flex;
  justify-content: center;
  width: 20%;
}
