@import 'variables';
@import 'utilities/pxtorem';

.item {
  composes: divider from '~scss/helpers/divider.scss';
}

.list {
  list-style-type: none;
  font-size: pxtorem(20);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);

  @media (min-width: $bp-sm) {
    font-size: pxtorem(18);
  }
}

.listitem {
  margin-bottom: var(--vr-xxs);
}

.link {
  composes: alt from '~scss/helpers/link.scss';
}
