@import 'variables';
@import 'utilities/pxtorem';

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--vr);
  margin-bottom: var(--vr-md);

  @media (min-width: $bp-sm) {
    flex-direction: row;
  }
}

.title {
  margin-bottom: var(--vr-md);
  font-size: pxtorem(26);
  text-align: center;

  @media (min-width: $bp-sm) {
    text-align: unset;
  }
}

.content {
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 20%;

  @media (min-width: $bp-sm) {
    align-self: unset;
  }
}
