@import 'variables';

/* stylelint-disable-next-line selector-class-pattern */
.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $bp-sm) {
    margin-bottom: 0;
  }

  &::after {
    content: '';
    margin-top: 20px;
    width: 60%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px rgba(255, 255, 255, 0.05);

    @media (min-width: $bp-sm) {
      content: none;
    }
  }

  &:last-of-type {
    &::after {
      content: none;
    }
  }

  &__list {
    list-style-type: none;
    font-size: 20px;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);

    @media (min-width: $bp-sm) {
      font-size: 18px;
    }
  }

  &__item {
    margin-bottom: 5px;
  }
}
