@import 'variables';
@import 'utilities/pxtorem';

.tagline {
  height: pxtorem(30);
  overflow: hidden;
  opacity: 0;
  animation: tagline 0.5s ease-in-out;
  animation-delay: var(--animation-tagline-delay);
  animation-fill-mode: forwards;
}

.item {
  font-size: pxtorem(22);
  color: var(--secondary-text-colour);
  font-weight: 300;
  letter-spacing: pxtorem(1);
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 1px 1px var(--primary-colour-2);

  @media (min-width: $bp-md) {
    font-size: pxtorem(26);
    text-shadow: 2px 2px var(--tertiary-text-colour);
  }
}

@keyframes tagline {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
