@import 'variables';
@import 'utilities/pxtorem';

.heading {
  margin-bottom: var(--vr-xl);
  text-align: center;

  &Primary {
    color: var(--primary-text-colour);
  }

  &Secondary {
    color: var(--secondary-text-colour);
    text-shadow: -1px -1px var(--colour-1-alt-2);
  }

  &Tertiary {
    color: var(--secondary-text-colour);
    text-shadow: -1px -1px var(--colour-2-alt-1);
  }
}

.title {
  font-size: pxtorem(32);
  line-height: 1.125;
  margin-bottom: var(--vr);
}
