.top-decorations {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 10px;
	background: #5b9bbc;
	//background: #5b9bbc url(../img/top-decorations.png) repeat-x top center;
}
