@import 'variables';
@import 'utilities/breakpoints';

.footer {
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
}

.footer-bar {
	color: $secondary-text-colour;
	text-align: center;

	&__text {
		font-size: 14px;
	}
}