@import 'variables';
@import 'utilities/breakpoints';

.footer {
	position: relative;

	@include media-breakpoint-only(sm){
		padding-bottom: 60px;
	}
}

.footer-bar {
	color: $link-colour;
	text-align: center;

	&__text {
		font-size: 14px;
	}
}