@import 'variables';
@import 'utilities/pxtorem';

.testimonials {
  padding: 0 15%;
  text-align: center;
}

.quote {
  font-size: pxtorem(30);
  color: var(--tertiary-text-colour);
}

.text {
  margin: 0;
  padding: var(--vr) 0;
}

.name {
  font-size: pxtorem(14);
}
