@import 'variables';
@import 'utilities/pxtorem';

.label {
  color: var(--colour-5);
  padding: var(--vr-xxs);
  border-radius: 3px;
  font-size: pxtorem(12);
  line-height: 1.2;

  @media (min-width: $bp-xxxl) {
    font-size: pxtorem(16);
  }
}

.isPrimary {
  background: var(--colour-1);
}

.isSecondary {
  background: var(--colour-3);
}

.isTertiary {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.isLarge {
  padding: var(--vr-xs);
  font-size: pxtorem(14);

  @media (min-width: $bp-xxxl) {
    font-size: pxtorem(18);
  }
}
