@import 'variables';
@import 'utilities/pxtorem';

.lighterNote {
  display: grid;
  grid-gap: pxtorem(16);

  @media (min-width: $bp-sm) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  composes: divider from '~scss/helpers/divider.scss';
  color: var(--secondary-text-colour);
}

.amount {
  font-size: pxtorem(40);
  margin-bottom: var(--vr);
  text-shadow: -1px -1px var(--primary-colour-2);
}

.text {
  text-shadow: -1px -1px var(--primary-colour-2);
  text-align: center;
}
