@import 'utilities/pxtorem';

//------------------------------------------
// Generic variables.
//------------------------------------------

// Theme colours.
$primary-hue: 143;
$primary-saturation: 42%;
$secondary-hue: 227;
$secondary-saturation: 9%;
$tertiary-hue: 345;
$tertiary-saturation: 100%;

// Breakpoints.
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

:root {
  --font-family-primary: 'Open Sans', sans-serif;
  --font-family-secondary: 'Open Sans', serif;
  --font-family-heading: 'Open Sans', serif;

  // Colours.
  --primary-colour: hsl(#{$primary-hue}, #{$primary-saturation}, 36%);
  --primary-colour-transparent: hsl(#{$primary-hue}, #{$primary-saturation}, 36%, 95%);
  --primary-colour-transparent-2: hsl(#{$primary-hue}, #{$primary-saturation}, 36%, 50%);
  --primary-colour-1: hsl(#{$primary-hue}, #{$primary-saturation}, 31%);
  --primary-colour-2: hsl(#{$primary-hue}, #{$primary-saturation}, 26%);
  --primary-colour-3: hsl(#{$primary-hue}, #{$primary-saturation}, 6%);
  --secondary-colour: hsl(#{$secondary-hue}, #{$secondary-saturation}, 20%);
  --secondary-colour-1: hsl(#{$secondary-hue}, #{$secondary-saturation}, 10%);
  --tertiary-colour: hsl(#{$tertiary-hue}, #{$tertiary-saturation}, 39%);

  // Text colours.
  --primary-text-colour: hsl(0, 0%, 20%);
  --secondary-text-colour: hsl(0, 0%, 100%);
  --tertiary-text-colour: hsl(0, 0%, 0%);

  // Borders
  --bdr-primary: var(--secondary-colour);
  --bdr-secondary: var(--secondary-text-colour);

  // Vertical rythm.
  --vr: #{pxtorem(16)};
  --vr-xxs: calc(var(--vr) / 3);
  --vr-xs: calc(var(--vr) / 2);
  --vr-sm: var(--vr);
  --vr-md: calc(var(--vr) * 1.5);
  --vr-lg: calc(var(--vr) * 2);
  --vr-xl: calc(var(--vr) * 3);
  --vr-xxl: calc(var(--vr) * 4);

  // Animations
  --animation-tagline-delay: 5s;
  --animation-name-delay: 3.5s;
  --animation-location-delay: 5s;
}
