@import 'variables';
@import 'utilities/pxtorem';

body {
  font-family: var(--font-family-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: pxtorem(22);
  margin-bottom: var(--vr-md);
}

a {
  transition: color 0.3s;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--secondary-text-colour);
    outline: none;
  }
}

ul {
  padding: 0;
  margin: 0;
}
