@import 'variables';
@import 'utilities/pxtorem';

html {
  height: 100%;
}

body {
  font-family: $font-family-primary;
  font-size: pxtorem(16);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  letter-spacing: pxtorem(1);
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: $font-family-primary;
  font-size: pxtorem(20);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: var(--vr-md);
}

a {
  transition: color 0.3s;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $secondary-text-colour;
    outline: none;
  }
}

ul {
  padding: 0;
  margin: 0;
}
