@import 'variables';
@import 'utilities/pxtorem';

.social {
  display: flex;
  justify-content: center;
  margin-bottom: var(--vr-lg);
}

.icon {
  display: flex;
  justify-content: center;
  background: var(--primary-colour);
  padding: var(--vr);
  border-radius: 50%;
  text-shadow: -1px -1px darken($primary-colour, 10%);
  margin: 0 var(--vr);
  transition: box-shadow 0.3s, background 0.3s;
  width: pxtorem(60);
  height: pxtorem(60);

  &:hover {
    background: darken($primary-colour, 10%);
    box-shadow: 0 0 0 5px rgba($primary-colour, 0.5);
  }
}
